<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erreur <%=code%></title>
        <link rel="stylesheet" href="./error.css">
    </head>

    <body>

        <div id="codeMsg">
            Erreur
            <% if (code != 418) { %>
                <div id="code">0</div>
            <% } %>
            <svg id="smiley" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Layer_1" x="0px" y="0px"
                viewBox="0 0 473.935 473.935" style="enable-background:new 0 0 473.935 473.935;" xml:space="preserve"
                sodipodi:docname="emoji.svg" inkscape:version="0.92.4 (5da689c313, 2019-01-14)" width=150 height=150>
                <metadata id="metadata199">
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <defs id="defs197">
                    <path id="amDyWMaJW"
                        d="M31.7 27C31.7 33.35 26.46 38.49 20 38.49C13.54 38.49 8.3 33.35 8.3 27C8.3 20.66 13.54 15.51 20 5.83C26.46 15.51 31.7 20.66 31.7 27Z" />
                </defs>
                <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10"
                    gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2"
                    inkscape:window-width="1920" inkscape:window-height="1017" id="namedview195" showgrid="false"
                    inkscape:zoom="0.49795858" inkscape:cx="236.9675" inkscape:cy="236.9675" inkscape:window-x="-8"
                    inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="Layer_1" />
                <circle style="fill:#ffc10e" cx="234.9588" cy="234.9588" r="236.967" id="circle154" />
                <g id="g162">
                    <circle style="fill:#333333;" cx="164.938" cy="155.232" r="37.216" id="circle156" />
                    <circle style="fill:#333333;" cx="305.667" cy="155.232" r="37.216" id="circle158" />
                    <path id="bouche" style="fill:#333333;"
                        d="M343.257,316.862c-59.281,60.329-154.663,59.854-213.45-0.898   c-8.4-8.685-21.616,4.561-13.227,13.227c65.769,67.97,173.645,68.34,239.905,0.898   C364.944,321.479,351.721,308.245,343.257,316.862L343.257,316.862z"
                        id="path160" />
                </g>
                <g id="g164">
                </g>
                <g id="g166">
                </g>
                <g id="g168">
                </g>
                <g id="g170">
                </g>
                <g id="g172">
                </g>
                <g id="g174">
                </g>
                <g id="g176">
                </g>
                <g id="g178">
                </g>
                <g id="g180">
                </g>
                <g id="g182">
                </g>
                <g id="g184">
                </g>
                <g id="g186">
                </g>
                <g id="g188">
                </g>
                <g id="g190">
                </g>
                <g id="g192">
                </g>
                <g id="g3913" transform="matrix(3.2313325,0,0,3.3365452,244.63601,173.07065)" id="larme">
                    <g id="g3911">
                        <g id="g3909">
                            <use id="use3907" xlink:href="#amDyWMaJW" style="opacity:1;fill:#34b0bd;fill-opacity:1"
                                x="0" y="0" width="100%" height="100%" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <button onclick="location.href='../';" id="homeBtn">
            Retourner à l'acceuil
        </button>
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px"
            viewBox="0 0 1170.4706 928" id="lapinErr" sodipodi:docname="hare-3232830.svg"
            inkscape:version="0.92.4 (5da689c313, 2019-01-14)">
            <metadata id="metadata124">
                <rdf:RDF>
                    <cc:Work rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <defs id="defs122" />
            <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10"
                gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2"
                inkscape:window-width="1920" inkscape:window-height="1017" id="namedview120" showgrid="false"
                inkscape:zoom="1.5740741" inkscape:cx="733.93749" inkscape:cy="718.41707" inkscape:window-x="-8"
                inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="svg118" />
            <style type="text/css" id="style68">
                .st0 {
                    fill: #96C23D;
                }

                .st1 {
                    fill: #85D6F4;
                }

                .st2 {
                    fill: #129BD1;
                }

                .st3 {
                    fill: #119CD6;
                }

                .st4 {
                    fill: #129BD1;
                    stroke: #85D6F4;
                    stroke-width: 26;
                    stroke-miterlimit: 10;
                }

                .st5 {
                    fill: #86D7F3;
                }

                .st6 {
                    fill: #0A556D;
                }

                .st7 {
                    fill: #53BFDD;
                }

                .st8 {
                    fill: #BBE5FA;
                }

                .st9 {
                    fill: #8AD4F5;
                }

                .st10 {
                    fill: #1AA8DA;
                }
            </style>
            <g id="Ebene_6" transform="translate(-62,-83)">
                <g id="g78">
                    <path class="st0"
                        d="m 972.5,1011 h -865 C 82.371,1011 62,990.629 62,965.5 v 0 C 62,940.371 82.371,920 107.5,920 h 865 c 25.129,0 45.5,20.371 45.5,45.5 v 0 c 0,25.129 -20.371,45.5 -45.5,45.5 z"
                        id="path70" inkscape:connector-curvature="0" style="fill:#96c23d" />
                    <path class="st0"
                        d="M 150,920 H 107 V 865.187 C 107,855.143 115.143,847 125.187,847 h 6.626 c 10.044,0 18.187,8.143 18.187,18.187 z"
                        id="path72" inkscape:connector-curvature="0" style="fill:#96c23d" />
                    <path class="st0"
                        d="M 982,920 H 953 V 877.081 C 953,869.856 958.857,864 966.081,864 h 2.837 c 7.225,0 13.081,5.857 13.081,13.081 V 920 Z"
                        id="path74" inkscape:connector-curvature="0" style="fill:#96c23d" />
                    <path class="st0"
                        d="M 938,920 H 880 V 825.306 C 880,810.225 892.225,798 907.306,798 h 3.388 C 925.775,798 938,810.225 938,825.306 Z"
                        id="path76" inkscape:connector-curvature="0" style="fill:#96c23d" />
                </g>
            </g>
            <g id="Ebene_1" transform="translate(-62,-83)" />
            <g id="Ebene_4" transform="translate(-62,-83)" />
            <g id="Ebene_3" transform="translate(-62,-83)" />
            <g id="Ebene_5" transform="translate(-62,-83)" />
            <g id="Ebene_2" transform="translate(-62,-83)">
                <g id="g115">
                    <circle class="st3" cx="401.5" cy="874.5" r="112.5" id="circle85" style="fill:#119cd6" />
                    <circle class="st3" cx="673.5" cy="874.5" r="112.5" id="circle87" style="fill:#119cd6" />
                    <path class="st4"
                        d="m 476.25,430 v 0 C 455.401,430 438.5,413.099 438.5,392.25 V 133.75 C 438.5,112.901 455.401,96 476.25,96 v 0 c 20.849,0 37.75,16.901 37.75,37.75 v 258.5 C 514,413.099 497.099,430 476.25,430 Z"
                        id="path89" inkscape:connector-curvature="0"
                        style="fill:#129bd1;stroke:#85d6f4;stroke-width:26;stroke-miterlimit:10" />
                    <path class="st4"
                        d="m 602.25,430 v 0 C 581.401,430 564.5,413.099 564.5,392.25 V 133.75 C 564.5,112.901 581.401,96 602.25,96 v 0 c 20.849,0 37.75,16.901 37.75,37.75 v 258.5 C 640,413.099 623.099,430 602.25,430 Z"
                        id="path91" inkscape:connector-curvature="0"
                        style="fill:#129bd1;stroke:#85d6f4;stroke-width:26;stroke-miterlimit:10" />
                    <path class="st5"
                        d="m 533.5,986 v 0 C 456.456,986 394,923.544 394,846.5 v -317 C 394,452.456 456.456,390 533.5,390 v 0 c 77.044,0 139.5,62.456 139.5,139.5 v 317 C 673,923.544 610.544,986 533.5,986 Z"
                        id="path93" inkscape:connector-curvature="0" style="fill:#86d7f3" />
                    <circle class="st6" cx="460.5" cy="523.5" r="16.5" id="circle95" style="fill:#0a556d" />
                    <circle class="st6" cx="618.5" cy="523.5" r="16.5" id="circle97" style="fill:#0a556d" />
                    <path class="st7"
                        d="m 538.5,700 v 0 c -4.142,0 -7.5,-3.358 -7.5,-7.5 v -105 c 0,-4.142 3.358,-7.5 7.5,-7.5 v 0 c 4.142,0 7.5,3.358 7.5,7.5 v 105 c 0,4.142 -3.358,7.5 -7.5,7.5 z"
                        id="path99" inkscape:connector-curvature="0" style="fill:#53bfdd" />
                    <circle class="st8" cx="424" cy="643" r="86" id="circle101" style="fill:#bbe5fa" />
                    <circle class="st8" cx="647" cy="643" r="86" id="circle103" style="fill:#bbe5fa" />
                    <path class="st6"
                        d="m 510.013,559 c -0.003,0.167 -0.013,0.332 -0.013,0.5 0,15.188 12.312,27.5 27.5,27.5 15.188,0 27.5,-12.312 27.5,-27.5 0,-0.168 -0.01,-0.333 -0.013,-0.5 z"
                        id="path105" inkscape:connector-curvature="0" style="fill:#0a556d" />
                    <path class="st9"
                        d="m 418.99,987 c -6.786,-46.937 -47.174,-83 -95.99,-83 -48.816,0 -89.204,36.063 -95.99,83 z"
                        id="path107" inkscape:connector-curvature="0" style="fill:#8ad4f5" />
                    <path class="st9"
                        d="m 852.99,987 c -6.786,-46.937 -47.174,-83 -95.99,-83 -48.816,0 -89.204,36.063 -95.99,83 z"
                        id="path109" inkscape:connector-curvature="0" style="fill:#8ad4f5" />
                    <path class="st10"
                        d="m 527.141,847.854 -7.286,7.286 c -10.875,10.875 -28.507,10.875 -39.383,0 L 420.86,795.528 c -10.875,-10.875 -10.875,-28.507 0,-39.383 l 7.286,-7.286 c 10.875,-10.875 28.507,-10.875 39.383,0 l 59.612,59.612 c 10.875,10.876 10.875,28.508 0,39.383 z"
                        id="path111" inkscape:connector-curvature="0" style="fill:#1aa8da" />
                    <path class="st10"
                        d="m 548.859,847.854 7.286,7.286 c 10.875,10.875 28.507,10.875 39.383,0 l 59.612,-59.612 c 10.875,-10.875 10.875,-28.507 0,-39.383 l -7.286,-7.286 c -10.875,-10.875 -28.507,-10.875 -39.383,0 l -59.612,59.612 c -10.875,10.876 -10.875,28.508 0,39.383 z"
                        id="path113" inkscape:connector-curvature="0" style="fill:#1aa8da" />
                </g>
            </g>
            <path style="fill:#ffffff;stroke:none;stroke-opacity:1" id="path3854" sodipodi:type="arc"
                sodipodi:cx="655.258" sodipodi:cy="392.68115" sodipodi:rx="27.952942" sodipodi:ry="27.317648"
                sodipodi:start="5.2884873" sodipodi:end="5.2856075" sodipodi:open="true"
                d="m 670.48553,369.77272 a 27.952942,27.317648 0 0 1 8.22461,37.77339 27.952942,27.317648 0 0 1 -38.64591,8.06488 27.952942,27.317648 0 0 1 -8.28025,-37.76178 27.952942,27.317648 0 0 1 38.63398,-8.11925" />
            <path style="fill:#ffffff;stroke:none;stroke-opacity:1" id="path4661" sodipodi:type="arc"
                sodipodi:cx="701.84314" sodipodi:cy="322.77234" sodipodi:rx="31.44706" sodipodi:ry="31.764706"
                sodipodi:start="5.2884873" sodipodi:end="5.2856075" sodipodi:open="true"
                d="m 718.97412,296.13463 a 31.44706,31.764706 0 0 1 9.25268,43.92255 31.44706,31.764706 0 0 1 -43.47665,9.37775 31.44706,31.764706 0 0 1 -9.31528,-43.90904 31.44706,31.764706 0 0 1 43.46323,-9.44098" />
            <path style="fill:#ffffff;stroke:none;stroke-width:3.57542729;stroke-opacity:1" id="path4667"
                sodipodi:type="arc" sodipodi:cx="933.50586" sodipodi:cy="188.90587" sodipodi:rx="231.88235"
                sodipodi:ry="125.15294" sodipodi:start="5.2884873" sodipodi:end="5.2856075" sodipodi:open="true"
                d="M 1059.8252,83.953303 A 231.88235,125.15294 0 0 1 1128.052,257.00813 231.88235,125.15294 0 0 1 807.46664,293.95649 231.88235,125.15294 0 0 1 738.77822,120.95487 231.88235,125.15294 0 0 1 1059.2647,83.7574" />
            <foreignObject x="750" y="100" width="370" height="300">
                <p id="errMsg" xmlns="http://www.w3.org/1999/xhtml"><%=message%> </p>
            </foreignObject>
        </svg>
        <div id="herbe"></div>
        <svg width="128" height="128" style="enable-background:new 0 0 128 128;" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" id="carotte">
            <path
                d="M98.99,17.34c0.13-0.87,0.14-1.74,0.41-2.52c0.48-1.36,0.91-2.82,1.74-3.96 c1.09-1.48,2.81-1.44,4.77-0.23c0.37-0.84,0.57-1.82,1.14-2.48c1.05-1.22,2.15-2.55,3.52-3.3c1.95-1.07,3.24-0.22,4.65,2.61 c2.16-0.86,4.5-2.67,6.65-0.39c2,2.12,0.43,4.33-0.61,6.5c0.45,0.21,0.82,0.38,1.19,0.57c1.93,0.98,2.64,2.97,1.18,4.75 c-1.41,1.72-3.41,2.95-5.21,4.44c1.98,3.2,0.51,4.75-6.43,6.43c-0.21,1.29-0.05,2.67-0.64,3.51c-0.96,1.35-2.61,1.09-4.07,0.63 c-2.93-0.92-5.71-0.49-8.33,0.98c-2.21,1.25-4.36,2.62-6.35,4.19c2.97-0.56,5.91-1.38,8.91-1.62c3.4-0.27,6.84-0.1,10.26,0.07 c0.84,0.04,1.62,0.87,2.46,1.27c0.68,0.32,1.39,0.59,2.11,0.78c2.42,0.62,2.94,1.26,2.89,3.74c1.92,0.78,3.01,2,1.88,4.23 c-0.11,0.21,0.15,0.65,0.31,0.94c0.18,0.32,0.46,0.57,0.67,0.87c1.14,1.61,2.12,3.38,1,5.26c-1.18,1.99-3.29,2.12-5.39,1.87 c-0.54-0.06-1.07-0.17-1.58-0.25c-1,2.64-2.44,3.08-4.71,1.4c-0.97-0.72-1.79-1.66-2.68-2.5c-2.92,2.23-3.95,1.8-6.41-2.74 c-2.75,0.93-3.78,0.36-4.59-2.5c-0.7-2.47-1.66-3.53-4.28-3.46c-2.07,0.06-4.12,0.84-6.16,1.39c-0.62,0.17-1.15,0.64-1.4,0.49 c-1.8-1.82-3.59-3.63-5.54-5.6c0.41-0.93,1.19-2.39,1.69-3.93c0.33-1.02,0.41-2.17,0.36-3.25c-0.14-2.8-0.98-3.74-3.69-4.52 c-2.7-0.77-3.38-2.08-2.29-4.31c-1.2-0.93-2.54-1.71-3.53-2.81c-1.28-1.42-0.58-2.71,0.86-3.61c-1.11-1.36-2.35-2.5-3.11-3.89 c-1.09-1.98-0.49-2.97,1.92-3.58c-0.1-0.68-0.24-1.37-0.3-2.08C72.1,8.77,72.3,6.81,74.15,5.7c1.74-1.05,3.48-0.3,4.96,0.79 c1.05,0.77,1.86,1.37,3.37,0.87c1.66-0.55,2.48,0.87,2.99,2.22c2.44-0.09,3.09,0.41,3.7,2.67c0.29,1.06,0.17,2.27,1.5,2.92 c0.42,0.2,0.56,1.18,0.64,1.83c0.73,5.9,0.41,11.74-1.31,17.46c-0.16,0.52-0.28,1.05-0.41,1.57c-0.01,0.03,0.06,0.09,0.27,0.35 c3.09-4.76,6.98-9.08,4.94-15.42c-0.16-0.51-0.24-1.09-0.19-1.63C94.84,16.98,96.25,16.31,98.99,17.34z"
                style="fill:#0F9D58;" />
            <path d="M-620.55-526.55c-16-10.5-33.21-17.09-53.22-16.72C-659.6-549-624.15-538.03-620.55-526.55z"
                style="fill:#FFFFFF;" />
            <path
                d="M-712.33-619.4c10.54,5.95,21.9,35.18,17.49,51.9c-1.59-7.86-2.63-17.3-5.54-26.11 C-703.25-602.27-708.02-610.3-712.33-619.4z"
                style="fill:#FFFFFF;" />
            <path
                d="M-670.25-570.69c12.39-12.2,24.78-24.41,37.18-36.61c0.49,0.49,0.98,0.99,1.47,1.48 c-12.35,12.27-24.7,24.53-37.06,36.8C-669.19-569.57-669.72-570.13-670.25-570.69z"
                style="fill:#FFFFFF;" />
            <path
                d="M93.84,54.39c-1.66-8.33-11.98-16.29-20.28-17.63c-11.42-2.55-17.88,4.44-23.62,11.93 c-0.38,0.49-0.26,1.2,0.25,1.55c1.89,1.3,3.77,2.7,5.62,4.21c0.97,0.79,0.01,2.32-1.12,1.78c-2.4-1.14-4.72-2.2-6.97-3.18 c-0.46-0.2-1-0.06-1.31,0.35c-6.59,8.84-13.02,17.8-19.47,26.74c-0.35,0.49-0.24,1.16,0.24,1.51c1.2,0.88,2.4,1.79,3.58,2.75 c0.99,0.8,0.02,2.35-1.13,1.8c-1.53-0.73-3.03-1.42-4.51-2.09c-0.47-0.21-1.01-0.06-1.32,0.36c-4.04,5.56-8.2,11.03-12.19,16.62 c-5.57,7.79-10.42,18.58-7.74,22.44c2.44,3.53,14.66,1.58,23.61-5.5c2.44-1.93,5.05-3.64,7.6-5.43c0.43-0.3,0.58-0.86,0.37-1.34 c-0.62-1.37-1.27-2.76-1.94-4.18c-0.54-1.14,0.99-2.1,1.78-1.12c0.9,1.1,1.76,2.22,2.58,3.34c0.35,0.48,1.01,0.59,1.5,0.24 c8.97-6.37,17.98-12.69,27.05-18.91c0.43-0.29,0.59-0.84,0.38-1.32c-1.01-2.32-2.1-4.72-3.28-7.2c-0.54-1.13,0.99-2.09,1.78-1.12 c1.61,1.98,3.11,4,4.49,6.03c0.34,0.5,1.01,0.63,1.5,0.29c2.25-1.53,4.49-3.07,6.75-4.59C88.29,75.82,95.16,67.52,93.84,54.39z"
                style="fill:#F57C00;" />
        </svg>
        <script src="/anime.min.js"></script>
        <script>
            const code = <%=code%>;
            const isCode = <%=code != 418 %>
        </script>
        <script src="error.js"></script>
    </body>

</html>